# Sentiment analysis of twitter data using deep learning

In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
import re

In [4]:
import nltk

In [5]:
dataset = pd.read_csv(r"D:\pythonnew\sentiment\test.csv", encoding="ISO-8859-1")

In [6]:
dataset1 = pd.read_csv(r"D:\pythonnew\sentiment\train.csv", encoding="ISO-8859-1")

In [7]:
dataset1

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?Ã°ÂÂÂÃ°ÂÂÂÃ°ÂÂ...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [8]:
dataset

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid Ã°ÂÂÂ #hairflip #nev...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [9]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
from nltk.corpus import stopwords

In [11]:
from nltk.stem.porter import PorterStemmer

In [12]:
review = dataset['tweet'][0]

In [13]:
review = re.sub('[^a-zA-Z]',' ','review')

In [14]:
review = review.lower()

In [15]:
ps = PorterStemmer()

In [16]:
review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]

In [17]:
review

['r', 'e', 'v', 'e', 'w']

In [18]:
data =[]
for i in range(0,31962):
        review = dataset1['tweet'][i]
        review= re.sub('[^a-zA-Z]',' ',review)
        review = review.lower()
        review = review.split()
        review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
        review = ''.join(review)
        data.append(review)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
Cv = CountVectorizer(max_features=1500)

In [21]:
X = Cv.fit_transform(data).toarray()

In [22]:
X.shape

(31962, 1500)

In [23]:
y = dataset1.iloc[:,1].values

In [24]:
y=y.reshape(-1,1)

In [25]:
y.shape

(31962, 1)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state = 0)

In [27]:
X.shape

(31962, 1500)

In [28]:
import keras

Using TensorFlow backend.
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [29]:
import tensorflow as tf

In [30]:
from keras.models import Sequential

In [31]:
from keras.layers import Dense

In [32]:
model = Sequential()

WARNING:tensorflow:From C:\Users\Admin\anaconda3\envs\env\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [33]:
model.add(Dense(output_dim=2000,
                init='uniform', activation='relu',
                input_dim=1500))

WARNING:tensorflow:From C:\Users\Admin\anaconda3\envs\env\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\Admin\anaconda3\envs\env\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

C:\Users\Admin\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=1500, units=2000, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until

In [34]:
model.add(Dense(output_dim=100,init='uniform', activation="relu"))

C:\Users\Admin\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=100, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [35]:
model.add(Dense(output_dim=1,init='uniform', activation="sigmoid"))

C:\Users\Admin\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [36]:
model.compile(optimizer='adam',loss='binary_crossentropy',
              metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Admin\anaconda3\envs\env\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\Admin\anaconda3\envs\env\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\Admin\anaconda3\envs\env\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [37]:
model.fit(X_train,y_train,epochs=5,batch_size=32)

WARNING:tensorflow:From C:\Users\Admin\anaconda3\envs\env\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/5
25569/25569 [==============================] - 59s 2ms/step - loss: 0.2511 - acc: 0.9306
Epoch 2/5
25569/25569 [==============================] - 54s 2ms/step - loss: 0.2180 - acc: 0.9415
Epoch 3/5
25569/25569 [==============================] - 54s 2ms/step - loss: 0.2155 - acc: 0.9422
Epoch 4/5
25569/25569 [==============================] - 55s 2ms/step - loss: 0.2140 - acc: 0.9422
Epoch 5/5
25569/25569 [==============================] - 56s 2ms/step - loss: 0.2143 - acc: 0.9423

In [38]:
model.save('mymodel.h5')

In [39]:
from keras.models import load_model

In [40]:
import numpy as np

In [41]:
import pickle

In [42]:
model= load_model('mymodel.h5')

In [49]:
entered_input = "@user i burnt all the garlic bread #devastated    "

In [50]:
x_intent=Cv.transform([entered_input])

In [51]:
y_pred=model.predict(x_intent)

In [52]:
if (y_pred >0.5):
    print("it is a positive review")
else:
    print("it is a negative review")

it is a negative review